@font-face {
    font-family: helvetica;
    src: url(fonts/HelveticaNeueLTStd-Md.otf);
}

/*
Red #BE2106
Green #4DBE06
Dark gray #ffffff
*/

body{
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.mainBody {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

header{
  background: #575655;
}

header h1 {
  color: white;
}

.instructions {
  width: 100%;
  height: 30%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.homePage {
  width: 100vw;
  height: 60%;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage a {
  width: 90%;
  height: 90%;
}

.helpButton {
  width: 100%;
  height: 100%;
  border: none;
  background: red;
}

.questionBox{

}

.questionButton {

}

.pageSlider-enter {
  transform: translate3d(100%, 0, 0);
}

.pageSlider-enter.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000px;
}

.map-header {
  width: 100%;
  height: 10%;
  background: yellow;
  position: fixed;
  bottom: 0;
  left: 0;
  border: none;
}
